body {
	background: black url("images/lastfm.jpg") no-repeat fixed;
	background-size: 100% 100%;
}
#header {
	width:100%; 
	text-align: center;
	color:red;
}
#left_column {
	float:left; 
	width:50%;
	color: #4e5;
	text-align: center;
}
#right_column {
	float:right; 
	width:50%;
	color: #4e5;
	text-align: center;
}
p {
	font-style: italic;
}
#common{
	font-size: 20px;
	color:#4ec4f5;
}

